body{
    margin: auto;
    padding: 30px 50px;
    background: whitesmoke;
    font-family: Montserrat;
    color: #222222;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER StYLES */
header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* height: 120px; */
}
.menu-icon{
    width: 100px
}
.social-icon{
    margin-left: 34px;
    width: 100px
}

/* BIO STYLES */
.bio-hero{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-wrap: none;
    /* font-size: 4rem; */
    /* line-height: 1%; */
}
.name-intro{
    font-size: 7.5rem;
    margin: 260px 0 0 0;
}
.bio-text{
    font-size: 5.5rem;
    margin: 120px 0 260px 0;
    
}


/* Skills Styling */
.skills-container{
    font-size: 1.4rem;
    width: 100%;
    padding: 0 0 60px 0;
    border-radius: 20px;
    background-color: #DDDFDF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    box-shadow: 1px 1px 5px #777777;
}
.skills-title{
    line-height: 1rem;
    width: 75%;
    margin: 0 auto;
    font-size: 3rem;
}
.skill{
    box-shadow: 1px 1px 2px #777777;
    background-color: whitesmoke;
    margin: 10px auto;
    grid-column: 1/2;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    height: 200px;
    line-height: 10px;
}
.skill-icon{
    width: 120px;
    border: 1px solid black;
    padding: 12px;
    border-radius: 12px;
    margin-right: -46px;
}

