body{
    margin: auto;
    padding: 20px 60px;
    max-width: 100vw;
    background: whitesmoke;
    font-family: Montserrat;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER StYLES */
header{
    border: 2px dotted red;
    display: flex;
    justify-content: space-between;
}

.social-icon,
.menu-icon{
    margin: 0px 20px 0px 20px;
    width: 100px
    /* height: 5rem; */
}

/* BIO STYLES */
.bio{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: none;
}
.titles{
    font-size: 2.2rem;
    
}
button{
    border: 1px solid black;
    box-shadow: 0 0 4px black;
    font-size: 2.25rem;
    border-radius: 10%;
    width: 13rem;
    height: 13rem;
    background-color: #778da9;
}

/* Skills Styling */
.skills-container{
    font-size: 1.4rem;
    width: 100%;
    padding: 0 0 60px 0;
    border-radius: 20px;
    background-color: #DDDFDF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.skills-container > h2{
    margin-left: 40px;
}
.skill{
    background-color: whitesmoke;
    margin: auto;
    grid-column: 1/2;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75%;
    height: 240px;
    line-height: 10px;
}
.icon{
    width: 140px;
}
.skill:hover{
    transform: scale(1.05);
}
.unmet{
    opacity: 50%;
}

/* Journal Styling */
.journal-entries-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}